In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_ = pd.read_excel("Book2.xlsx", sheet_name="son6")
df = df_.copy()

In [3]:
df.head()

,Order_ID,Order_Date,Customer_ID,State,Product_ID,Product_Name,Quantity,Price
0,CA-2016-152156,2016-11-08,CG-12520,Kentucky,FUR-BO-10001798,Bush Somerset Collection Bookcase,2,130.9800
1,CA-2016-152156,2016-11-08,CG-12520,Kentucky,FUR-CH-10000454,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",3,243.9800
2,CA-2016-138688,2016-06-12,DV-13045,California,OFF-LA-10000240,Self-Adhesive Address Labels for Typewriters b...,2,7.3100
3,US-2015-108966,2015-10-11,SO-20335,Florida,FUR-TA-10000577,Bretford CR4500 Series Slim Rectangular Table,5,191.5155
4,US-2015-108966,2015-10-11,SO-20335,Florida,OFF-ST-10000760,Eldon Fold 'N Roll Cart System,2,11.1840

In [4]:
df.columns

Index(['Order_ID', 'Order_Date', 'Customer_ID', 'State', 'Product_ID',
       'Product_Name', 'Quantity', 'Price'],
      dtype='object')

In [5]:
df.index

RangeIndex(start=0, stop=9994, step=1)

In [6]:
df.isnull().sum()

Order_ID        0
Order_Date      0
Customer_ID     0
State           0
Product_ID      0
Product_Name    0
Quantity        0
Price           0
dtype: int64

In [7]:
df.describe()

                          Order_Date     Quantity        Price
count                           9994  9994.000000  9994.000000
mean   2016-04-30 00:07:12.259355648     3.789574    79.299495
min              2014-01-03 00:00:00     1.000000     0.120000
25%              2015-05-23 00:00:00     2.000000     5.184000
50%              2016-06-26 00:00:00     3.000000    16.208800
75%              2017-05-14 00:00:00     5.000000    66.653333
max              2017-12-30 00:00:00    14.000000  6354.950000
std                              NaN     2.225110   222.749520

In [8]:
df.dtypes

Order_ID                object
Order_Date      datetime64[ns]
Customer_ID             object
State                   object
Product_ID              object
Product_Name            object
Quantity                 int64
Price                  float64
dtype: object

In [9]:
df["Order_Date"] = df["Order_Date"].astype(str)

In [10]:
df["State"].value_counts()

State
California              2001
New York                1128
Texas                    985
Pennsylvania             587
Washington               506
Illinois                 492
Ohio                     469
Florida                  383
Michigan                 255
North Carolina           249
Arizona                  224
Virginia                 224
Georgia                  184
Tennessee                183
Colorado                 182
Indiana                  149
Kentucky                 139
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Oklahoma                  66
Missouri                  66
Alabama                   61
Arkansas                  60
Rhode Island              56
Utah                      53
Mississippi               53
Louisiana                 42
South Carolina            42
Nevada                    39
Nebraska                  38
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: count, dtype: int64

In [11]:
df.head()

,Order_ID,Order_Date,Customer_ID,State,Product_ID,Product_Name,Quantity,Price
0,CA-2016-152156,2016-11-08,CG-12520,Kentucky,FUR-BO-10001798,Bush Somerset Collection Bookcase,2,130.9800
1,CA-2016-152156,2016-11-08,CG-12520,Kentucky,FUR-CH-10000454,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",3,243.9800
2,CA-2016-138688,2016-06-12,DV-13045,California,OFF-LA-10000240,Self-Adhesive Address Labels for Typewriters b...,2,7.3100
3,US-2015-108966,2015-10-11,SO-20335,Florida,FUR-TA-10000577,Bretford CR4500 Series Slim Rectangular Table,5,191.5155
4,US-2015-108966,2015-10-11,SO-20335,Florida,OFF-ST-10000760,Eldon Fold 'N Roll Cart System,2,11.1840

In [12]:
order_id = df.groupby("Product_ID").agg({"Quantity":"sum"}).sort_values(by="Quantity", ascending=False).reset_index()
order_id

           Product_ID  Quantity
0     OFF-FA-10003485       215
1     OFF-EN-10004773       170
2     OFF-PA-10002764       150
3     OFF-AR-10004707        86
4     FUR-TA-10001039        74
...               ...       ...
1843  FUR-BO-10002206         1
1844  TEC-MA-10003493         1
1845  OFF-PA-10000048         1
1846  FUR-CH-10002317         1
1847  OFF-AR-10002704         1

[1848 rows x 2 columns]

In [13]:
order_id.iloc[0, 0]
type(order_id)

pandas.core.frame.DataFrame

In [14]:
max_orderIDs = df[df["Product_ID"] == order_id.iloc[0, 0]]["Order_ID"] #En fazla satılan ürüne ait Order_ID'ler

In [15]:
df1 = df[df["Order_ID"].isin(max_orderIDs)]

In [16]:
df1.columns

Index(['Order_ID', 'Order_Date', 'Customer_ID', 'State', 'Product_ID',
       'Product_Name', 'Quantity', 'Price'],
      dtype='object')

In [17]:
df1["State"].value_counts()

State
California        28
Texas             18
Ohio               9
Arizona            9
Florida            9
North Carolina     9
Michigan           8
Pennsylvania       8
Massachusetts      7
Tennessee          7
Illinois           7
Virginia           6
North Dakota       5
Colorado           4
Washington         4
Kansas             2
South Carolina     2
New York           2
New Hampshire      1
Mississippi        1
Name: count, dtype: int64

In [18]:
#df1 = df[df["State"] == "New York"]

In [19]:
df1.head()

,Order_ID,Order_Date,Customer_ID,State,Product_ID,Product_Name,Quantity,Price
130,US-2017-164147,2017-02-02,DW-13585,Ohio,TEC-PH-10002293,Anker 36W 4-Port USB Wall Charger Travel Power...,5,11.9940
131,US-2017-164147,2017-02-02,DW-13585,Ohio,OFF-AY-10002377,Xerox 1916,2,39.1520
132,US-2017-164147,2017-02-02,DW-13585,Ohio,OFF-FA-10003485,Staples,9,2.3840
341,CA-2014-122336,2014-04-13,JD-15895,Pennsylvania,OFF-AR-10000122,Newell 314,4,4.4640
342,CA-2014-122336,2014-04-13,JD-15895,Pennsylvania,OFF-BI-10003656,Fellowes PB200 Plastic Comb Binding Machine,10,40.7976

In [20]:
df1.describe()

         Quantity        Price
count  146.000000   146.000000
mean     4.198630    75.758113
std      2.765851   333.336175
min      1.000000     0.495000
25%      2.000000     4.291200
50%      3.000000     7.577333
75%      5.000000    28.533750
max     13.000000  3773.080000

In [21]:
df1.columns

Index(['Order_ID', 'Order_Date', 'Customer_ID', 'State', 'Product_ID',
       'Product_Name', 'Quantity', 'Price'],
      dtype='object')

In [22]:
df1.dtypes

Order_ID         object
Order_Date       object
Customer_ID      object
State            object
Product_ID       object
Product_Name     object
Quantity          int64
Price           float64
dtype: object

In [23]:
basket = pd.pivot_table(data=df1, index="Order_ID", columns="Product_ID", values="Quantity", aggfunc="count", fill_value=0)

In [24]:
basket.head()

Product_ID,FUR-AZ-10004270,FUR-CH-10001190,FUR-CH-10002073,FUR-CH-10002372,FUR-CH-10003833,FUR-FU-10000206,FUR-FU-10001986,FUR-FU-10003268,FUR-FU-10003799,FUR-FU-10004666,...,TEC-PH-10000307,TEC-PH-10000702,TEC-PH-10001557,TEC-PH-10001760,TEC-PH-10002293,TEC-PH-10003589,TEC-PH-10003800,TEC-PH-10004434,TEC-PH-10004447,TEC-PH-10004586
Order_ID,,,,,,,,,,,,,,,,,,,,,
CA-2014-102673,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
CA-2014-106439,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CA-2014-108189,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
CA-2014-116757,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CA-2014-119032,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
basket.tail()

Product_ID,FUR-AZ-10004270,FUR-CH-10001190,FUR-CH-10002073,FUR-CH-10002372,FUR-CH-10003833,FUR-FU-10000206,FUR-FU-10001986,FUR-FU-10003268,FUR-FU-10003799,FUR-FU-10004666,...,TEC-PH-10000307,TEC-PH-10000702,TEC-PH-10001557,TEC-PH-10001760,TEC-PH-10002293,TEC-PH-10003589,TEC-PH-10003800,TEC-PH-10004434,TEC-PH-10004447,TEC-PH-10004586
Order_ID,,,,,,,,,,,,,,,,,,,,,
US-2016-110156,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
US-2017-123862,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
US-2017-147669,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
US-2017-164147,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
US-2017-166394,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
basket.values

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [27]:
basket= basket.astype(bool)

In [28]:
print(basket.dtypes)

Product_ID
FUR-AZ-10004270    bool
FUR-CH-10001190    bool
FUR-CH-10002073    bool
FUR-CH-10002372    bool
FUR-CH-10003833    bool
                   ...
TEC-PH-10003589    bool
TEC-PH-10003800    bool
TEC-PH-10004434    bool
TEC-PH-10004447    bool
TEC-PH-10004586    bool
Length: 97, dtype: object

In [29]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [30]:
df2 = apriori(basket, min_support=0.01, use_colnames = True)

In [31]:
df2.head()

    support           itemsets
0  0.021739  (FUR-AZ-10004270)
1  0.021739  (FUR-CH-10001190)
2  0.043478  (FUR-CH-10002073)
3  0.021739  (FUR-CH-10002372)
4  0.021739  (FUR-CH-10003833)

In [32]:
association_rules(df2, metric = "confidence", min_threshold = 0.5)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(FUR-FU-10001986),(FUR-AZ-10004270),0.021739,0.021739,0.021739,1.0,46.0,0.021267,inf,1.0
1,(FUR-AZ-10004270),(FUR-FU-10001986),0.021739,0.021739,0.021739,1.0,46.0,0.021267,inf,1.0
2,(FUR-AZ-10004270),(OFF-AR-10003183),0.021739,0.021739,0.021739,1.0,46.0,0.021267,inf,1.0
3,(OFF-AR-10003183),(FUR-AZ-10004270),0.021739,0.021739,0.021739,1.0,46.0,0.021267,inf,1.0
4,(FUR-AZ-10004270),(OFF-FA-10003485),0.021739,1.000000,0.021739,1.0,1.0,0.000000,inf,0.0
...,...,...,...,...,...,...,...,...,...,...
31923,(OFF-BI-10002571),"(OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...",0.021739,0.021739,0.021739,1.0,46.0,0.021267,inf,1.0
31924,(OFF-ST-10003996),"(OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...",0.021739,0.021739,0.021739,1.0,46.0,0.021267,inf,1.0
31925,(OFF-AR-10001419),"(OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...",0.021739,0.021739,0.021739,1.0,46.0,0.021267,inf,1.0
31926,(FUR-CH-10003833),"(OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...",0.021739,0.021739,0.021739,1.0,46.0,0.021267,inf,1.0
31927,(OFF-AY-10000477),"(OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...",0.021739,0.021739,0.021739,1.0,46.0,0.021267,inf,1.0

In [33]:
df2.values

array([[0.021739130434782608, frozenset({'FUR-AZ-10004270'})],
       [0.021739130434782608, frozenset({'FUR-CH-10001190'})],
       [0.043478260869565216, frozenset({'FUR-CH-10002073'})],
       ...,
       [0.021739130434782608,
        frozenset({'OFF-ST-10000642', 'TEC-PH-10003589', 'FUR-FU-10000206', 'OFF-EN-10003798', 'OFF-FA-10003485', 'OFF-BI-10003676', 'OFF-BI-10002609', 'OFF-PA-10004735'})],
       [0.021739130434782608,
        frozenset({'OFF-BI-10004209', 'OFF-ST-10001963', 'OFF-FA-10003485', 'TEC-AC-10004568', 'OFF-BI-10002571', 'OFF-ST-10003996', 'OFF-AR-10001419', 'OFF-AY-10000477'})],
       [0.021739130434782608,
        frozenset({'OFF-BI-10004209', 'OFF-ST-10001963', 'OFF-FA-10003485', 'TEC-AC-10004568', 'OFF-BI-10002571', 'OFF-ST-10003996', 'OFF-AR-10001419', 'FUR-CH-10003833', 'OFF-AY-10000477'})]],
      dtype=object)

In [34]:
df2.tail(30)

       support                                           itemsets
1475  0.021739  (OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...
1476  0.021739  (OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...
1477  0.021739  (OFF-ST-10000642, FUR-FU-10000206, OFF-EN-1000...
1478  0.021739  (TEC-PH-10003589, FUR-FU-10000206, OFF-FA-1000...
1479  0.021739  (OFF-ST-10000642, TEC-PH-10003589, FUR-FU-1000...
1480  0.021739  (OFF-ST-10000642, TEC-PH-10003589, FUR-FU-1000...
1481  0.021739  (OFF-ST-10000642, TEC-PH-10003589, FUR-FU-1000...
1482  0.021739  (OFF-ST-10000642, TEC-PH-10003589, FUR-FU-1000...
1483  0.021739  (OFF-ST-10000642, TEC-PH-10003589, FUR-FU-1000...
1484  0.021739  (OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...
1485  0.021739  (OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...
1486  0.021739  (OFF-BI-10004209, OFF-FA-10003485, TEC-AC-1000...
1487  0.021739  (OFF-BI-10004209, OFF-ST-10001963, TEC-AC-1000...
1488  0.021739  (OFF-ST-10001963, OFF-FA-10003485, TEC-AC-1000...
1489  0.021739  (OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...
1490  0.021739  (OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...
1491  0.021739  (OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...
1492  0.021739  (OFF-ST-10000642, TEC-PH-10003589, OFF-EN-1000...
1493  0.021739  (OFF-PA-10001838, TEC-PH-10001760, TEC-AC-1000...
1494  0.021739  (OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...
1495  0.021739  (OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...
1496  0.021739  (OFF-BI-10004209, OFF-FA-10003485, TEC-AC-1000...
1497  0.021739  (OFF-BI-10004209, OFF-ST-10001963, TEC-AC-1000...
1498  0.021739  (OFF-ST-10001963, OFF-FA-10003485, TEC-AC-1000...
1499  0.021739  (OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...
1500  0.021739  (OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...
1501  0.021739  (OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...
1502  0.021739  (OFF-ST-10000642, TEC-PH-10003589, FUR-FU-1000...
1503  0.021739  (OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...
1504  0.021739  (OFF-BI-10004209, OFF-ST-10001963, OFF-FA-1000...

In [35]:
df2["itemsets"].value_counts()

itemsets
(FUR-AZ-10004270)                                                                                                                                            1
(OFF-BI-10003676, OFF-FA-10003485, OFF-ST-10000642, OFF-PA-10004735)                                                                                         1
(OFF-EN-10003798, OFF-PA-10004735, OFF-FA-10003485, TEC-PH-10003589)                                                                                         1
(OFF-EN-10003798, OFF-FA-10003485, OFF-ST-10000642, OFF-PA-10004735)                                                                                         1
(OFF-ST-10003996, OFF-BI-10004209, OFF-ST-10001963, TEC-AC-10004568)                                                                                         1
                                                                                                                                                            ..
(OFF-AP-10001563, TEC-AC-10003709, OFF-FA-10003485)                                                                                                          1
(OFF-EN-10003845, OFF-AP-10001563, TEC-AC-10003709)                                                                                                          1
(OFF-EN-10003845, OFF-AP-10001563, OFF-FA-10003485)                                                                                                          1
(OFF-AP-10001563, TEC-AC-10003709, OFF-BI-10001359)                                                                                                          1
(OFF-BI-10004209, OFF-ST-10001963, OFF-FA-10003485, TEC-AC-10004568, OFF-BI-10002571, OFF-ST-10003996, OFF-AR-10001419, FUR-CH-10003833, OFF-AY-10000477)    1
Name: count, Length: 1505, dtype: int64

In [36]:
df2[df2["support"]> 0.03]

      support                            itemsets
2    0.043478                   (FUR-CH-10002073)
10   0.043478                   (FUR-TA-10001039)
50   1.000000                   (OFF-FA-10003485)
88   0.043478                   (TEC-PH-10000702)
91   0.043478                   (TEC-PH-10002293)
112  0.043478  (FUR-CH-10002073, OFF-FA-10003485)
150  0.043478  (FUR-TA-10001039, OFF-FA-10003485)
310  0.043478  (OFF-FA-10003485, TEC-PH-10000702)
313  0.043478  (TEC-PH-10002293, OFF-FA-10003485)

In [37]:
df2["itemsets"] = df2["itemsets"].astype(str)

In [38]:
df3 = df2["itemsets"].str.strip('()').str.split(', ', expand=True)

In [39]:
df3.columns

RangeIndex(start=0, stop=9, step=1)

In [40]:
df2.to_csv("df2son.csv")

In [41]:
df4 = pd.read_excel("Book2.xlsx", sheet_name="Sheet4")

In [ ]:
df5 = df[df["Order_ID"].isin(df4["order_id"])]

In [ ]:
df5.to_csv("df5.csv")